{
	"branches": ["master"],
	"plugins":[
		["@semantic-release/commit-analyzer", {
			"preset": "angular",
			"releaseRules": [
				{"type":"fix", "release":"patch"},
				{"type":"feat", "release":"minor"},
				{"scope":"ci", "release":false}
			],
			"parserOpts": {
				"noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
			}
		}],
    		"@semantic-release/release-notes-generator",
		"@semantic-release/github",
		["@semantic-release/exec", {
			"verifyReleaseCmd": "echo ${nextRelease.version} > version.txt",
		}]
	]
}
