language: php

env:
  matrix:
    - OS=alpine
    - OS=centos
  global:
    - THIS_LABEL=${TRAVIS_BRANCH}
    - FROM_IMAGE=${FFMPEG_DOCKER}

services:
  - docker

before_install:
  - sudo sed -i "s/\DOCKER_OPTS=\"/DOCKER_OPTS=\"--insecure-registry=${FFMPEG_REGISTRY} /g" /etc/default/docker
  - sudo service docker restart
  - echo ${FFMPEG_REGISTRY_PASSWORD} | docker login --username ${FFMPEG_REGISTRY_USERNAME} --password-stdin ${FFMPEG_REGISTRY} || true
  - docker pull ${THIS_REGISTRY}/${THIS_REPO}/${THIS_IMAGE}:latest || true

script:
  - cd travis/
  - if [[ "master" == "${TRAVIS_BRANCH}" ]]; then export CACHE_FROM_ARGS="--no-cache"; THIS_LABEL=latest; fi
  - ./build.sh
  - ./test.sh
  - ./push.sh

