<phpunit testdox="true" noInteraction="true" >
  <testsuites>
    <testsuite name="basic">
      <directory>basic</directory>
    </testsuite>
    <testsuite name="subtitles">
      <directory>subtitles</directory>
    </testsuite>
    <testsuite name="deinterlace">
      <directory>deinterlace</directory>
    </testsuite>
  </testsuites>
</phpunit>
