version: 2.1

variables:
  composer-version: &composer-version '2.9.2'
  php-version: &php-version '8.3'

orbs:
  docker: circleci/docker@2
  node: circleci/node@5
  php: circleci/php@1
  sonarcloud: sonarsource/sonarcloud@2
  snyk: snyk/snyk@2

jobs:

  build-phar:
    resource_class: small
    executor:
      name: php/default
      tag: *php-version
    steps:
      - checkout
      - php/install-composer:
          install-version: *composer-version
      - php/install-packages
      - run: 
          name: Lint
          command: composer run lint
      - run: 
          name: Check format
          command: composer run check-format -- --dry-run
      - run: 
          name: Cleanup dependencies
          command: rm -rvf vendor
      - php/install-packages:
          install-flags: "--no-interaction --prefer-dist --no-dev"
      - run:
          name: Download composer
          command: curl -o phar-composer -JL "https://github.com/clue/phar-composer/releases/download/v1.4.0/phar-composer-1.4.0.phar"
      - run:
          name: Build phar
          command: |
            php ./phar-composer --version
            php ./phar-composer build .
      - persist_to_workspace:
          root: ./
          paths:
            - video-converter.phar
      - store_artifacts:
          path: video-converter.phar

  snyk-scan:
    resource_class: small
    docker:
      - image: cimg/base:stable 
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Load docker images
          command: docker load -i /tmp/workspace/video-converter-images.tar
      - snyk/scan:
          docker-image-name: ${CIRCLE_PROJECT_REPONAME}:latest
          fail-on-issues: false

  build-docker:
    resource_class: small
    docker:
      - image: cimg/base:stable
    environment:
      PHP_VERSION: *php-version
      COMPOSER_VERSION: *composer-version
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Define cache env variables
          command: |
            echo "CACHE_REGISTRY=${GHCR_REGISTRY}" >> ${BASH_ENV}
            echo "CACHE_USERNAME=${GHCR_USERNAME}" >> ${BASH_ENV}
            echo "CACHE_PASSWORD=${GHCR_TOKEN}" >> ${BASH_ENV}
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Move phar to docker dir
          command: cp -v /tmp/workspace/video-converter.phar ./
      - run:
          name: Custom enviroment variables
          command: |
            export CACHE_FROM_IMAGES=$(grep "^FROM " Dockerfile | sed 's/FROM //g' | sed 's/ AS .*$//g' | xargs echo | sed 's/ /,/g')
            export CACHE_ROOT_IMAGE="${CACHE_REGISTRY}/${CACHE_USERNAME}/${CIRCLE_PROJECT_REPONAME}"
            if ! [[ "<< pipeline.git.branch >>" =~ (main) ]]; then
              export CACHE_FROM_IMAGES="${CACHE_ROOT_IMAGE}:latest,${CACHE_FROM_IMAGES}"
            fi
            export TEST_CACHE_FROM_IMAGES=$(grep "^FROM " tests/Dockerfile | sed 's/FROM //g' | sed 's/ AS .*$//g' | xargs echo | sed 's/ /,/g')
            if ! [[ "<< pipeline.git.branch >>" =~ (main) ]]; then
              export TEST_CACHE_FROM_IMAGES="${CACHE_ROOT_IMAGE}:test-main,${TEST_CACHE_FROM_IMAGES}"
            fi
            export PRIMARY_DOCKER_TAG=$(cat /tmp/workspace/short_version.txt)
            if [[ "main" == "<< pipeline.git.branch >>" ]] && [[ "main" != "${PRIMARY_DOCKER_TAG}" ]]; then
            #VERSION="1.2.3"; PREV=${VERSION:0:1}; for A in $(echo ${VERSION:1} | tr "." "\n"); do NOW="$PREV.$A"; echo A=$A; echo PREV=${PREV}; echo caching=${NOW}; PREV=$NOW; done
              PREV=${PRIMARY_DOCKER_TAG:0:1}
              for A in $(echo ${PRIMARY_DOCKER_TAG:1} | tr "." "\n"); do 
                NOW="$PREV.$A"
                export CACHE_FROM_IMAGES="${CACHE_FROM_IMAGES},${CACHE_ROOT_IMAGE}:${NOW}"
                PREV=$NOW
              done
            fi
            echo "export CACHE_FROM_IMAGES=${CACHE_FROM_IMAGES}" >> ${BASH_ENV}
            echo "export TEST_CACHE_FROM_IMAGES=${TEST_CACHE_FROM_IMAGES}" >> ${BASH_ENV}
            cat ${BASH_ENV}
      - docker/check:
          registry: ${CACHE_REGISTRY}
          docker-username: CACHE_USERNAME
          docker-password: CACHE_PASSWORD
      - run:
          name: Docker pull cache images
          command: |
            for I in $(echo ${CACHE_FROM_IMAGES} | tr "," "\n"); do
              echo "Pulling $I"
              docker pull $I || [[ "main" == "<< pipeline.git.branch >>" ]]
            done
      - docker/build:
          step-name: Build parent image
          dockerfile: Dockerfile
          image: ${CIRCLE_PROJECT_REPONAME}-parent
          tag: latest
          extra_build_args: "--build-arg PHP_VERSION=${PHP_VERSION}"
          cache_from: ${CACHE_FROM_IMAGES}
      - docker/build:
          step-name: Build docker image
          dockerfile: src/Dockerfile
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: latest
      - run:
          name: Docker pull cache test images
          command: |
            for I in $(echo ${TEST_CACHE_FROM_IMAGES} | tr "," "\n"); do
              docker pull $I || true
            done
      - docker/build:
          step-name: Build test image
          docker-context: .
          path: .
          dockerfile: tests/Dockerfile
          image: test-${CIRCLE_PROJECT_REPONAME}
          tag: latest
          cache_from: ${TEST_CACHE_FROM_IMAGES}
          extra_build_args: --build-arg TEST_SAMPLE_DOMAIN=${TEST_SAMPLE_DOMAIN} --build-arg COMPOSER_VERSION=${COMPOSER_VERSION}
      - run:
          name: Run sanity test
          command: |
            docker volume create data
            docker run --rm -v data:/vol --entrypoint sh test-${CIRCLE_PROJECT_REPONAME} -c 'cp -v /data/dvd.mkv /vol/'
            docker run --rm -v data:/data -w /data ${CIRCLE_PROJECT_REPONAME} \
              --title=Test --video-format=copy --audio-format=copy --subtitle-format=copy dvd.mkv
      - run:
          name: Export images to tar
          command: |
            docker save -o video-converter-images.tar ${CIRCLE_PROJECT_REPONAME} test-${CIRCLE_PROJECT_REPONAME}
            ls -lha video-converter-images.tar
            docker images -a
            docker system prune -f
      - persist_to_workspace:
          root: ./
          paths:
            - video-converter-images.tar*

  publish-docker:
    resource_class: small
    docker:
      - image: cimg/base:stable 
    parameters:
      registry-env:
        description: The registry envirnment variable to use to publish docker images.
        type: string
        default: docker.io
      docker-username-env:
        description: The docker registry username env variable to use.
        type: string
        default: DOCKER_LOGIN
      docker-password-env:
        description: The docker registery password env variable to use.
        type: string
        default: DOCKER_PASSWORD
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Custom enviroment variables
          command: |
            export PRIMARY_DOCKER_TAG=$(cat /tmp/workspace/short_version.txt)
            echo "export PRIMARY_DOCKER_TAG=${PRIMARY_DOCKER_TAG}" >> ${BASH_ENV}
            export DOCKER_TAGS=${PRIMARY_DOCKER_TAG}
            if [[ "main" == "<< pipeline.git.branch >>" ]] && [[ "main" != "${PRIMARY_DOCKER_TAG}" ]]; then
              for A in $(echo ${PRIMARY_DOCKER_TAG} | tr "." "\n"); do 
                NOW="$PREV.$A"
                export DOCKER_TAGS="${DOCKER_TAGS},${NOW:1}"
                PREV=$NOW
              done
              export DOCKER_TAGS="${DOCKER_TAGS},main,latest"
            fi
            echo "export DOCKER_TAGS=${DOCKER_TAGS}" >> ${BASH_ENV}
            echo "export FINAL_IMAGE_NAME=${<< parameters.docker-username-env >>}/${CIRCLE_PROJECT_REPONAME}" >> ${BASH_ENV}
            cat ${BASH_ENV}
      - docker/check:
          registry: ${<< parameters.registry-env >>}
          docker-password: << parameters.docker-password-env >>
          docker-username: << parameters.docker-username-env >>
      - run:
          name: Load docker images
          command: |
            docker load -i /tmp/workspace/video-converter-images.tar
      - run:
          name: Tag docker images for repos
          command: |
            IFS="," read -ra LOOP_TAGS \<<< "${DOCKER_TAGS}"
            set -x
            for TAG in "${LOOP_TAGS[@]}"; do
              docker tag ${CIRCLE_PROJECT_REPONAME} ${<< parameters.registry-env >>}/${FINAL_IMAGE_NAME}:${TAG}
            done
            docker tag test-${CIRCLE_PROJECT_REPONAME} ${<< parameters.registry-env >>}/${FINAL_IMAGE_NAME}:test-${PRIMARY_DOCKER_TAG} 
            set +x
      - docker/push:
          step-name: Pushing image to desired repo
          registry: ${<< parameters.registry-env >>}
          image: ${FINAL_IMAGE_NAME}
          tag: ${DOCKER_TAGS}
      - docker/push:
          step-name: Pushing test image to desired repo
          registry: ${<< parameters.registry-env >>}
          image: ${FINAL_IMAGE_NAME}
          tag: test-${PRIMARY_DOCKER_TAG}

  test-docker:
    parallelism: 5
    resource_class: small
    docker:
      - image: cimg/base:stable 
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Load docker test image
          command: |
            docker load -i /tmp/workspace/video-converter-images.tar
      - run:
          name: Run tests
          command: |
            if [[ "<< pipeline.git.branch >>" != "main" ]]; then
              export ADDITIONAL_PHPUNIT_ARGS="--fail-on-warning --fail-on-risky";
            fi
            export TEST_IMAGE=test-${CIRCLE_PROJECT_REPONAME}
            export ALL_CLASSES=$(docker run --rm -it ${TEST_IMAGE} --list-tests | grep "^ -" | sed 's/ - \(.*\)::.*/\1/g' | uniq)
            export ALL_TESTCASES=$(docker run --rm -it ${TEST_IMAGE} --list-tests | grep "^ -" | sed 's/^ - .*::\(.*\)\r/\1/g' | sed 's/\(.*\)"\(.*\)"/\1 with data set "\2"/g')
            export CLASSES=$(echo "${ALL_CLASSES}" | circleci tests split --split-by=timings --timings-type=classname)
            export TESTCASES=$(echo "${ALL_TESTCASES}" | circleci tests split --split-by=timings --timings-type=testname)
            printf "All Testcases=%s\n\nRunning with=%s\n\n" "${ALL_TESTCASES}" "${TESTCASES}"
            #printf "All Classes=%s\n\nRunning with=%s\n\n" "${ALL_CLASSES}" "${CLASSES}"
            if [[ $(echo ${ALL_CLASSES} | wc -w) -eq 0 ]]; then
              echo "Not enough classes. Something's wrong"
              exit 1
            fi
            ./test.sh
      - store_test_results:
          path: testResults/junitResults
      - store_artifacts:
          path: testResults
      - persist_to_workspace:
          root: testResults
          paths:
            - junitResults/junit-*.xml
            - clover-*.xml

  sonar-scan:
    resource_class: small
    executor: 
      name: node/default
      tag: '16.5.0'
    steps:
      - checkout:
          method: full
      - attach_workspace:
          at: .
      - run:
          name: Correct report files
          command: |
            npm install --include=dev junit-report-merger
            npx jrm junit.xml "junitResults/junit-*.xml"
            find . -name 'clover-*.xml' -type f -exec sed -i 's#/opt/video-converter/##g' {} \;
            sed -i 's#/opt/video-converter/##g' junit.xml 
      - store_artifacts:
          path: junit.xml
      - run:
          name: Configure sonar-project.properties
          command: |
            printf "sonar.php.coverage.reportPaths=%s\n" $(find . -name 'clover-*.xml' -type f | xargs echo | sed 's/ /,/g') >> sonar-project.properties
            cat sonar-project.properties
      - sonarcloud/scan

  release-notes:
    resource_class: small
    executor:
      name: node/default
    steps:
      - checkout
      - run: npm install -D @semantic-release/exec
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Semantic-release
          command: |
            npx semantic-release
            if [[ ! -f version.txt ]] || [[ "" == "$(cat version.txt)" ]]; then 
              printf "%s-%s" ${CIRCLE_BRANCH} ${CIRCLE_SHA1:0:7} | sed 's#/#-#g' > /tmp/workspace/full_version.txt
              printf "${CIRCLE_BRANCH}" | sed 's#/#-#g' > /tmp/workspace/short_version.txt
            else
              cp -v version.txt /tmp/workspace/full_version.txt
              cp -v version.txt /tmp/workspace/short_version.txt
            fi
            printf "Short version"
            cat /tmp/workspace/short_version.txt
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - full_version.txt
            - short_version.txt

workflows:
  default:
    jobs:
      - build-phar:
          context: default
      - docker/hadolint:
          name: validate-dockerfile
          context: default
          dockerfiles: src/Dockerfile:Dockerfile:tests/Dockerfile
          hadolint-tag: v2.12.0-debian
      - build-docker:
          context: default
          requires:
            - validate-dockerfile
            - build-phar
      - publish-docker:
          name: publish-docker-private
          context: default
          registry-env: PRIVATE_DOCKER_REGISTRY
          docker-username-env: PRIVATE_DOCKER_USERNAME
          docker-password-env: PRIVATE_DOCKER_PASSWORD
          requires:
            - release-notes
      - publish-docker:
          name: publish-docker-ghcr
          context: default
          registry-env: GHCR_REGISTRY
          docker-username-env: GHCR_USERNAME
          docker-password-env: GHCR_TOKEN
          requires:
            - release-notes
          filters:
            branches:
              only:
                - main
      - publish-docker:
          name: publish-docker-hub
          context: default
          registry-env: DOCKER_IO_REGISTRY
          docker-username-env: DOCKER_IO_USERNAME
          docker-password-env: DOCKER_IO_PASSWORD
          requires:
            - release-notes
          filters:
            branches:
              only:
                - main
      - test-docker:
          context: default
          requires:
            - build-docker
      - sonar-scan:
          context: default
          requires:
            - test-docker
      - snyk-scan:
          context: default
          requires:
            - build-docker
          filters:
            branches:
              ignore:
                - main
      - release-notes:
          name: release-notes
          context: default
          requires:
            - test-docker
            - build-docker
